.form-content {
  margin: 0 auto;
  width: 500px;
  /* border: 10px solid green; */
}

#create-h1 {
  /* display: flex; */
  text-align: center;
  font-size: 24px;
  /* margin-top: 20px; */
  padding-top: 10px;
}

.form-chunk1 > p {
  font-size: 14px;
  padding: 5px 0px;
  margin: 0px;
}

.form-chunk-side {
  display: flex;
  margin: 0px;
  padding: 0px;
  /* width: 100%; */
  justify-content: space-between;
  /* width: 200px; */
}

.form-chunk1 {
  /* border: 4px solid rgb(0, 255, 242); */
  display: flex;
  /* grid-template-columns: 1fr; */
  flex-direction: column;
  margin-bottom: 10px;
  margin: 0px;
}

.form-chunk1 > label {
  font-weight: bold;
  display: flex;
  text-align: left;
  margin-bottom: 8px;
  /* padding-bottom: 10px; */
}

.form-chunk1 > input {
  width: 220px;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* #description-input {
  height: 70px;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

#form-chunk-p {
  margin: 10px 0px;
}

.button-color {
  background-color: #00890d;
}

#errors {
  color: red;
  font-size: 14px;
  font-weight: bold;
}
