/* TODO Add site wide styles */
* {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  /* margin: 10px; */
  /* padding: 0px 10px; */
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  padding: 0;
}



.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* Adjust the height as needed */
  z-index: 3;
  /* Set a higher z-index than the overlay */
}

.overlay {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* Adjust the height as needed */
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  z-index: 2;
  /* Set a higher z-index than the navigation bar but lower than the frontpage image */
}

.frontpage-image {
  position: relative;
  z-index: 1;
  /* Set a lower z-index than the overlay */
}
