/* .spot-background > img {
  position: absolute;
  max-height: 400px;
  height: auto;
  width: 100%;
  background-position: 0%;
  z-index: 99;
} */

/* .spot-details-top {
  position: absolute;
  z-index: 1;
} */

.show-one-spot-bottom-content {
  padding: 20px;
}
.spot-details-bottom {
  position: relative;
  border: 6px solid rgb(200, 0, 255);
}

.business-name {
  border: 6px solid rgb(21, 255, 0);
  font-size: 48px;
  color: blue;
  font-weight: bold;
}
