.images > img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.images {
  /* border: 4px darkcyan dotted; */
  max-height: 400px;
  width: 100%;
}

.stars-info {
  color: white;
  display: flex;
  font-size: 24px;
  margin: 0px 10px;
  align-items: center;
}

.title-parent {
  padding: 0px;
  margin: 0px;
  /* border: 6px solid red; */
  position: relative;
  bottom: 220px;
  left: 30px;
  width: fit-content;
  align-items: center;
  flex-direction: column;
}

.stars-and-reviews {
  display: flex;
  /* border: 2px solid red; */
}

.title-owner {
  /* border: 2px solid green; */
  color: rgba(88, 180, 255, 1);
  font-weight: 800;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  margin: 10px 0px;
}

.title-categories {
  /* border: 2px solid red; */
  color: white;
}

.open-parent {
  color: white;
  margin: 10px 0px;
  display: flex;
  width: fit-content;
  gap: 3px;
}

.open-open {
  color: rgba(4, 197, 133, 1);
  font-weight: 900;
}

.open-until {
  color: white;
}

.spot-background > img {
  max-width: 1024px;
  max-height: 400px;
  height: auto;
  width: 100%;
  background-position: 0%;
  z-index: 99;
}

.spot-bottom-parent-container {
  border: 9px solid rgb(0, 234, 255);
  display: flex;
  max-width: 1200px;
}

.spot-bottom-left-child {
  border: 4px solid red;
  width: 60%;
}

.reviews-button {
  border: solid 5px blue;
  /* padding-top: 10px; */
  margin: 0px;
  padding: 0px;
}

.right {
  /* border: 4px dashed rgb(0, 9, 128); */
  width: 40%;
}

.review-h1 {
  padding: 10px 0px;
}

.business-name {
  /* padding: 10px; */
  /* border: 6px solid rgb(21, 255, 0); */
  font-size: 50px;
  color: white;
  font-weight: 900;
}

.spot-details-top {
  /* border: solid 5px black; */
  padding: 0px;
  margin: 0px;
}

.directions {
  padding: 10px;
}

.directions > h1 {
  /* color: rgba(2, 122, 151, 1); */
  color: #00890d;
  font-size: 20px;
}

.directions > h2 {
  font-size: 16px;
  font-weight: 400;
  /* padding-top: 5px; */
  padding-bottom: 10px;
  /* color: #6e7072; */
}

.directions > h3 {
  color: black;
  font-size: 16px;
  font-weight: 400;
  /* padding-top: 5px; */
  padding-bottom: 10px;
}

.each-review {
  display: flex;
  margin: 0px;
  padding: 0px;
  /* margin-left: 10px; */
  gap: 10px;
  padding-bottom: 10px;
}

.each-review > p {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  /* width: fit-content; */
}

.name {
  padding: 0px;
  margin: 0px;
}

.icon {
  margin: 0px;
  padding: 0px;
  border: 2px solid rgba(164, 164, 164, 0.309);
  width: fit-content;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 10px; */
  margin-left: 0px;
  margin-right: 10px;
  /* color: #d32323; */
}

.name-p {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 5px;
}

#maps {
  color: rgba(2, 122, 151, 1);
}

.name > img {
  width: 200px;
  height: 200px;
}

.delete-spot {
  margin-bottom: 25px;
}
.filled-stars {
  color: #fdcc0d;
  margin-bottom: 5px;
}
