.images > img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.images {
  /* border: 4px darkcyan dotted; */
  max-height: 400px;
  width: 100%;
}

.stars-info {
  color: white;
  display: flex;
  font-size: 24px;
  margin: 0px 0px;
  /* gap: 5px; */
  align-items: center;
}

.title-parent {
  padding: 0px;
  margin: 0px;
  /* border: 6px solid red; */
  position: relative;
  bottom: 220px;
  left: 30px;
  width: fit-content;
  align-items: center;
  flex-direction: column;
}

.stars-and-reviews {
  display: flex;
  /* border: 2px solid red; */
}

.title-owner {
  /* border: 2px solid green; */
  color: rgba(88, 180, 255, 1);
  font-weight: 800;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  margin: 10px 0px;
}

.title-categories {
  /* border: 2px solid red; */
  color: white;
}

.open-parent {
  color: white;
  margin: 10px 0px;
  display: flex;
  width: fit-content;
  gap: 3px;
}

.open-open {
  color: rgba(4, 197, 133, 1);
  font-weight: 900;
}

.open-until {
  color: white;
}

.spot-background > img {
  max-width: 1024px;
  max-height: 400px;
  height: auto;
  width: 100%;
  background-position: 0%;
  z-index: 99;
}

.spot-bottom-parent-container {
  /* border: 9px solid rgb(0, 234, 255); */
  display: flex;
  max-width: 1200px;
  gap: 20px;
}

.spot-bottom-left-child {
  /* border: 4px solid red; */
  width: 60%;
}

.reviews-button {
  /* border: solid 5px blue; */
  /* padding-top: 10px; */
  margin: 0px;
  padding: 0px;
}

.right {
  border: 1px solid rgba(235, 235, 235, 1);
  width: 40%;
  position: sticky;
  top: 10px;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}

.business-name {
  /* padding: 10px; */
  /* border: 6px solid rgb(21, 255, 0); */
  font-size: 50px;
  color: white;
  font-weight: 900;
}

.spot-details-top {
  /* border: solid 5px black; */
  padding: 0px;
  margin: 0px;
}

.directions > h1 {
  /* color: rgba(2, 122, 151, 1); */
  color: #00c413;
  font-size: 20px;
}

.directions > h2 {
  font-size: 16px;
  font-weight: 400;
  /* padding-top: 5px; */
  padding-bottom: 10px;
  /* color: #6e7072; */
}

.directions > h3 {
  color: black;
  font-size: 16px;
  font-weight: 400;
  /* padding-top: 5px; */
  padding-bottom: 10px;
}

.each-review {
  /* border: 2px dashed red; */
  display: flex;
  align-items: flex-start;
  /* justify-content: flex-start; */
  margin: 0px;
  padding: 16px 0px;
  gap: 20px;
}

.each-review-picture {
  /* border: 2px solid red; */
  /* padding: 5px 0px; */
}

.icon {
  /* display: flex; */
  margin: 0px;
}

.name {
  padding: 0px;
  margin: 0px;
}

.name-p {
  font-weight: 700;
  font-size: 18px;
}

.name > img {
  width: 200px;
  height: 200px;
}

.delete-spot {
  margin-bottom: 25px;
}
.filled-stars {
  color: #fdcc0d;
  margin-bottom: 5px;
}

.directions:hover {
  color: blue;
}

.rightURL,
.rightPhone,
.rightAddress,
.rightAboutBusiness,
.rightMessage {
  border-bottom: 1px solid rgba(235, 235, 235, 1);
  padding: 10px;
}

.suggestionsButton {
  border: 2px solid red;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  min-width: 200px;
  max-width: 400px;
}
