.profile-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
  z-index: 1;
  text-decoration: none;
  width: fit-content;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 18px #00000026;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-dropdown > button {
  background-color: #00c413;
  width: 100px;
  padding: 10px 10px;
  color: white;
  border-radius: 4px;
  /* border: 2px solid #d32323; */
  border: none;
}

.profile-dropdown > button:hover {
  cursor: pointer;
  background-color: #43c174;
}

.profile-dropdown > li:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-dropdown > li:nth-child(1) {
  margin-bottom: 5px;
}

.profile-dropdown > li:nth-child(2) {
  margin-bottom: 5px;
}

.profile-dropdown > li:nth-child(3) {
  margin-bottom: 5px;
}

.profile-dropdown > li:nth-child(4) {
  margin-bottom: 5px;
}

/* .profile-dropdown > li:nth-child(5) {
  width: 100px;
  height: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
} */
ul {
  list-style-type: none;
}

.hidden {
  display: none;
}

* {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  /* background-color: rgb(173, 173, 173); */
  margin: 0px;
  /* padding: 10px 10px; */
}

h1 {
  font-size: 20px;
  margin: 0px 0px;
}

button {
  font-weight: 700;
  font-size: 12px;
}

#upper-half-homepage {
  /* background-image: url("https://wallpapercave.com/wp/wp4553567.png"); */
  background-size: 100%;
  background-repeat: no-repeat;
}

#random-info {
  height: 450px;
}

#kelp-logo > h1 {
  font-size: 30px;
  padding: 0px 10px;
  color: #006009;
}

#kelp-logo {
  /* border: 3px dashed blue; */
  font-size: 30px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo-container > h1 {
  color: #00c413;
  font-size: 28px;
}

#kelp-image {
  height: 30px;
  margin-left: 5px;
}

#top-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* padding: 0 20px; */
  position: relative;
  border: 5px solid red;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 2;
}

/* #search-icon {
  background-color: #d32323;
  margin: 0px;
} */

#write-review-button {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 70px;
  border-radius: 4px;
  color: white;
}

#homepage-buttons {
  /* width: 250px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  /* border: 3px dashed blueviolet; */
  gap: 15px;
}

#write-review-button {
  width: fit-content;
  padding: 10px 10px;
}

#login-button {
  /* background-color: white; */
  border: 2px solid rgb(255, 255, 255);
  width: fit-content;
  padding: 10px 10px;
  color: white;
  border-radius: 4px;
  /* height: 20px; */
}

#signup-button {
  background-color: #d32323;
  width: fit-content;
  padding: 10px 10px;
  color: white;
  border-radius: 4px;
  border: 2px solid #d32323;
}

.all-spots {
  /* border: 4px solid black; */
}

.create-spot {
  /* border: 4px dashed darkcyan; */
}

.login-dropdown > button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  background-color: white;
}

.bold-this {
  font-weight: bold;
}

#loginsignupbutton {
  padding: 0px 10px;
  width: fit-content;
  border-radius: 10px;
  /* color: #d32323; */
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

#fish {
  color: #4169e1;
  font-size: 14px;
}

.search-input {
  /* width: 300px; */
}

#searchbar-home {
  /* margin-top: 10px; */
  min-width: 400px;
  /* border: 4px solid purple; */
  display: flex;
}

.search-form {
  padding: 0px;
}

.search-input {
  padding: 8px;
  margin: 0px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  min-width: 400px;
}

.search-form button {
  background-color: #00c413;
  outline: none;
  border: none;
  height: 32px;
  width: 40px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  cursor: pointer;
}

#modal-content {
  height: fit-content;
  border-radius: 20px;
  margin: 0;
  padding: 20px;
}

#modal {
  position: fixed;
  z-index: 10;
}
