* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-content {
  /* border: 4px solid green; */
  flex-direction: column;
}

.form-content > button {
  background-color: #d32323;
  width: 100px;
  padding: 10px 10px;
  color: white;
  border-radius: 4px;
  /* border: 2px solid #d32323; */
  border: none;
}

.form-content > button:hover {
  cursor: pointer;
  background-color: rgba(237, 62, 62, 0.638);
}

li {
  list-style-type: none;
}

.modal-errors {
  padding-bottom: 10px;
  color: red;
  /* width: 100%; */
}

.form-chunk {
  /* border: 4px solid rgb(0, 255, 242); */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-chunk > label {
  font-weight: bold;
  display: flex;
  text-align: left;
  margin-bottom: 8px;
}

.form-chunk > input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.sub-form-chunk {
  display: flex;
  gap: 10px;
}

.sign-up button {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #00c413;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* margin-top: 10px; */
}

.form-container {
  position: relative;
  z-index: 10;
  /* Choose a value higher than 1 */
  /* Other styling */
}
