.delete-button > button,
.update-button > button {
  background-color: #00c413;
  font-size: 18px;
  width: 175px;
  padding: 10px 10px;
  color: white;
  border-radius: 4px;
  /* border: 2px solid #d32323; */
  border: none;
  margin: 0;
}
