#delete-button {
  background-color: #00c413;
  font-size: 18px;
  width: 175px;
  padding: 10px 10px;
  color: white;
  border-radius: 4px;
  /* border: 4px solid #d32323; */
  border: none;
}

#first-post-review-button {
  background-color: #00c413;
  color: white;
  padding: 14px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

#post-review-button:hover,
#delete-button:hover {
  cursor: pointer;
  background-color: #43c174;
}

.delete-button > button,
.update-button > button {
  background-color: #00c413;
  font-size: 18px;
  width: 175px;
  padding: 10px 10px;
  color: white;
  border-radius: 4px;
  /* border: 2px solid #d32323; */
  border: none;
  margin: 0;
}
